/* <!---- DropDown Menu ----> */
.dropdown-menu.service-none {
  transform: translateY(-150%);
}
.dropdown-menu.service-false {
  animation: dropdownRollup 1s cubic-bezier(0.19, 1, 0.22, 1) 0s 1 normal
    forwards;
}
.dropdown-menu.service-true {
  animation: dropdownRolldown 1s cubic-bezier(0.19, 1, 0.22, 1) 0s 1 normal
    forwards;
}

@keyframes dropdownRolldown {
  0% {
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    transform: translateY(-150%);
  }

  100% {
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    transform: translateY(0);
  }
}

@keyframes dropdownRollup {
  0% {
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    transform: translateY(0);
  }

  100% {
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    transform: translateY(-100%);
  }
}

.dropdown-container {
  position: relative;
  display: inline-block;
  transition: height 10s ease;
}

.dropdown-button {
  background-color: transparent;
  color: black;
  cursor: pointer;
  border: none;
  margin-left: 2rem;
  font-size: 0.875rem;
  font-family: "Golos Text";
  font-weight: 400;
}

.dropdown-button:focus-visible {
  outline: none;
}

.dropdown-menu {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  height: fit-content;
  z-index: 100;
}
.dropdown-menu a {
  margin: 0 !important;
  height: 72px;
  padding: 20px 24px;

  &:first-of-type {
    border-top: 1px solid rgba(0, 0, 0, 0.16);
  }

  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}

.dropdown-container:hover .dropdown-menu {
  height: max-content;
}

.dropdown-item {
  font-size: 1.125rem;
  padding: 0.5rem;
  padding-right: 60px;
  color: #333;
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.dropdown-arrow {
  width: 1vw;
  height: 1vw;
}

.dropdown-item:hover {
  color: #fff;
  background: var(--colors-gradient-gradient);
}
.dropdown-item:hover .dropdown-arrow {
  filter: invert(100%);
}
.active {
  color: #fff;
  background: var(--colors-gradient-gradient);
}

/* <!---- HEADER SECTION ----> */
header {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  z-index: 199;
  position: relative;
}
header img {
  width: 7.24069rem;
  height: 2.5rem;
}
#slide {
  display: none;
}
.ham {
  display: none;
}
.menu {
  display: none;
}
.close {
  display: none;
}
nav {
  display: flex;
  align-items: center;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: var(--colors-gray-primary-text);
  margin-left: 2rem;
  font-family: Golos Text;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
nav a:hover {
  color: var(--colors-brand-primary);
}
/* <!---- MENU(MOBILE) SECTION ----> */
#Menu {
  display: none;
}

@media screen and (max-width: 1440px) and (min-width: 768px) {
  /* <!---- DropDown Menu ----> */
  .dropdown-button {
    margin-left: 2vw;
    font-size: 0.875vw;
  }

  .dropdown-item {
    padding: 10px;
    font-size: 12;
  }

  header {
    margin-top: 2vw;
  }
  header img {
    width: 7.24069vw;
    height: 2.5vw;
  }
  #slide {
    display: none;
  }
  .ham {
    display: none;
  }
  .menu {
    display: none;
  }
  .close {
    display: none;
  }

  nav a {
    margin-left: 2vw;
    font-size: 0.875vw;
  }
  nav a:hover {
    color: var(--colors-brand-primary);
  }
}

@media only screen and (max-width: 767px) {
  header {
    padding: 0 1rem;
    margin-top: 2rem;
    align-items: center;
  }
  header img {
    width: 5.6875rem;
    height: 1.9637rem;
  }
  .menu {
    display: block;
    position: relative;
  }
  .ham {
    display: block;
  }
  .close {
    display: block;
    position: absolute;
    right: -1rem;
    top: 2rem;
  }
  .menu img {
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
  }
  nav ul {
    display: none;
  }

  /* <!---- MENU(MOBILE) SECTION ----> */
  #Menu {
    display: none;
  }

  .mob-menu {
    height: 100vh;
    background: linear-gradient(157deg, #080f1f 22%, #093b9e 159.75%);
    overflow: scroll;
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: 0px;
    z-index: 1000;
  }
}
