.milestones {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 8.75rem;
}
h2 .head1 {
  color: var(--Colors-Gray-Primary-Text, #090a0d);
  font-family: Golos Text;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}
h2 .head2 {
  background: var(
    --Colors-Gradient-Gradient,
    linear-gradient(
      90deg,
      #3f6fea 0%,
      #3f70ea 6.67%,
      #3e72e9 13.33%,
      #3d77e9 20%,
      #3c7de7 26.67%,
      #3b85e6 33.33%,
      #398fe4 40%,
      #3799e2 46.67%,
      #34a4e1 53.33%,
      #32afdf 60%,
      #30b8dd 66.67%,
      #2fc1dc 73.33%,
      #2ec7da 80%,
      #2dcbda 86.67%,
      #2cced9 93.33%,
      #2ccfd9 100%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Golos Text;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}
.milestones p {
  width: 34rem;
  color: var(--Colors-Gray-Secondary-Text, #676a70);
  text-align: center;
  font-family: Golos Text;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-top: 1.5rem;
}
.boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}
.boxes .sbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 16.75rem;
  height: 11.1875rem;
  flex-shrink: 0;
  margin-top: 4rem;
  background: linear-gradient(
    131deg,
    #4070ea -79.06%,
    rgba(255, 255, 255, 0) 98.97%
  );
  backdrop-filter: blur(2px);
  padding: 1rem 1.25rem;
  z-index: 2;
}

.sbox h1 {
  background: var(
    --Colors-Gradient-Gradient,
    linear-gradient(
      90deg,
      #3f6fea 0%,
      #3f70ea 6.67%,
      #3e72e9 13.33%,
      #3d77e9 20%,
      #3c7de7 26.67%,
      #3b85e6 33.33%,
      #398fe4 40%,
      #3799e2 46.67%,
      #34a4e1 53.33%,
      #32afdf 60%,
      #30b8dd 66.67%,
      #2fc1dc 73.33%,
      #2ec7da 80%,
      #2dcbda 86.67%,
      #2cced9 93.33%,
      #2ccfd9 100%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Golos Text;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.sbox p {
  color: var(--Colors-Gray-Secondary-Text, #676a70);
  font-family: Golos Text;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.9375rem;
  width: 10.1875rem;
  text-align: left;
}

#sbox1 h1 {
  font-family: Golos Text;
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 4.875rem;
}

/* -----------for small screen devices------------ */
@media screen and (max-width: 1440px) and (min-width: 781px) {
  .milestones {
    margin-top: 8.75vw;
  }
  h2 .head1 {
    font-size: 2.5vw;
  }
  h2 .head2 {
    font-size: 2.5vw;
  }
  .milestones p {
    width: 34vw;
    font-size: 1vw;
    margin-top: 1.5vw;
  }
  .boxes {
    gap: 2vw;
  }
  .boxes .sbox {
    width: 16.75vw;
    height: 11.1875vw;
    flex-shrink: 0;
    margin-top: 4vw;
    padding: 1vw 1.25vw;
    z-index: 2;
  }

  .sbox h1 {
    font-size: 3.5vw;
  }
  .sbox p {
    font-size: 1.25vw;
    line-height: 1.9375vw; /* 155% */
    width: 10.1875vw;
  }

  #sbox1 h1 {
    font-size: 4.5vw;
    line-height: 4.875vw;
  }
}

/* -----------for small screen devices------------ */
@media only screen and (max-width: 780px) {
  .milestones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 8.75rem;
  }
  h2 .head1 {
    color: var(--Colors-Gray-Primary-Text, #090a0d);
    font-family: Golos Text;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
  }
  h2 .head2 {
    background: var(
      --Colors-Gradient-Gradient,
      linear-gradient(
        90deg,
        #3f6fea 0%,
        #3f70ea 6.67%,
        #3e72e9 13.33%,
        #3d77e9 20%,
        #3c7de7 26.67%,
        #3b85e6 33.33%,
        #398fe4 40%,
        #3799e2 46.67%,
        #34a4e1 53.33%,
        #32afdf 60%,
        #30b8dd 66.67%,
        #2fc1dc 73.33%,
        #2ec7da 80%,
        #2dcbda 86.67%,
        #2cced9 93.33%,
        #2ccfd9 100%
      )
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Golos Text;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
  }
  .milestones p {
    width: 34rem;
    color: var(--Colors-Gray-Secondary-Text, #676a70);
    text-align: center;
    font-family: Golos Text;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-top: 1.5rem;
  }
  .boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .boxes .sbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 16.75rem;
    height: 11.1875rem;
    flex-shrink: 0;
    margin-top: 4rem;
    background: linear-gradient(
      131deg,
      #4070ea -79.06%,
      rgba(255, 255, 255, 0) 98.97%
    );
    backdrop-filter: blur(2px);
    padding: 1rem 1.25rem;
    z-index: 2;
  }

  .sbox h1 {
    background: var(
      --Colors-Gradient-Gradient,
      linear-gradient(
        90deg,
        #3f6fea 0%,
        #3f70ea 6.67%,
        #3e72e9 13.33%,
        #3d77e9 20%,
        #3c7de7 26.67%,
        #3b85e6 33.33%,
        #398fe4 40%,
        #3799e2 46.67%,
        #34a4e1 53.33%,
        #32afdf 60%,
        #30b8dd 66.67%,
        #2fc1dc 73.33%,
        #2ec7da 80%,
        #2dcbda 86.67%,
        #2cced9 93.33%,
        #2ccfd9 100%
      )
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Golos Text;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
  }
  .sbox p {
    color: var(--Colors-Gray-Secondary-Text, #676a70);
    font-family: Golos Text;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.9375rem;
    width: 10.1875rem;
    text-align: left;
  }

  #sbox1 h1 {
    font-family: Golos Text;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 4.875rem;
  }
}
