/* <!---- SOFTWARE SOLUTION SECTION ----> */
.software-solution {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 8.5rem;
}
.software-solution h1 {
  color: var(--colors-gray-primary-text, #090a0d);
  font-family: Golos Text;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  margin-left: 0;
}
.line2 {
  background: var(--colors-gradient-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.software-solution p {
  width: 31.6875rem;
  text-align: center;
  color: var(--colors-gray-secondary-text);
  font-family: Golos Text;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-top: 1.5rem;
}
.button {
  display: flex;
  width: auto;
  height: auto;
  padding: 1.125rem 2.5rem;
  justify-content: center;
  align-items: center;
  background: var(--colors-brand-primary);
  color: #fff;
  font-family: Golos Text;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.01rem;
  gap: 0.5rem;
  margin-top: 2.5rem;
}
#softwareDev {
  width: 56.875rem;
  margin-top: 4.5rem;
}

/* -----------for small screen devices------------ */
@media screen and (max-width: 1440px) and (min-width: 781px) {
  /* <!---- SOFTWARE SOLUTION SECTION ----> */
  .software-solution {
    margin-top: 8.5vw;
  }
  .software-solution h1 {
    font-size: 3.5vw;
  }

  .software-solution p {
    width: 31.6875vw;
    font-size: 1vw;
    margin-top: 1.5vw;
  }
  .button {
    padding: 1.125vw 2.5vw;
    font-size: 1vw;
    letter-spacing: -0.01vw;
    gap: 0.5vw;
    margin-top: 2.5vw;
  }
  #softwareDev {
    width: 56.875vw;
    margin-top: 4.5vw;
  }
}

@media only screen and (max-width: 780px) {
  .software-solution {
    padding: 0 1rem;
    margin-top: 2rem;
  }

  #softwareDev {
    order: -1;
    width: 100%;

    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  .software-solution h1 {
    max-width: 22rem;
    text-align: center;
    font-family: Golos Text;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
  }
  .software-solution p {
    max-width: 22rem;
    color: var(--Colors-Gray-Secondary-Text, #676a70);
    text-align: center;
    font-family: Golos Text;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-top: 1rem;
  }
  .button {
    display: flex;
    padding: 0.875rem 1.875rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    align-self: stretch;
    color: #fff;
    font-family: Golos Text;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 0.875rem */
    letter-spacing: -0.00875rem;
    text-transform: capitalize;
    margin-top: 2rem;
  }
}
